extends ./layout.pug
block content

    .breadcrumbs
        .timeline
        a(data_section="input").active
            .no 
                span 1
                include partials/_tick_icon.pug
                include partials/_times_icon.pug
            | upload
        a(data_section="status")
            .no 
                span 2
                include partials/_tick_icon.pug
                include partials/_times_icon.pug
            | processing
        a(data_section="results")
            .no 
                span 3
                include partials/_tick_icon.pug
                include partials/_times_icon.pug
            | results

    .content-container

        section.error
            h2 Error
            p We can't find a geocoding job with that token. Please check your token and try again. Remember that all geocoding jobs expire after three hours. 

        section.input.active

            h2 Convert addresses into coordinates
            p This is a simple service which allows you to upload addresses and convert them into latitude and logitudes. Your data must be in a .csv format and include name and address pairs.

            p Example data:
            img(src="static/img/example-data.png")

            p
                strong Select a .csv file to begin:

            form
                label(for="fileInput") select .csv file
                input(type="file" class="hidden" id="fileInput" accept=".csv")
                p.file-feedback Please select a file
                .file-preview.file
                    include partials/_file_icon.pug
                    p filename.csv
                    button(type="submit").upload-button convert this .csv file

            .pasteData
                p
                    strong Or paste your .csv data here:

                form#pasteCSV
                    textarea(name="pasteCSV")
                    button(type="submit").paste-button convert this .csv data


        section.status

            p Your geocoding conversion has started running. If you close this page you can still check back by searching using the token listed below.
            
            .container
                .status.cf
                    .circle.running
                    p.description Converting your addresses
                a.copy-token copy token
                h3.token 1203798
                a.check-status check for updates
                p Tip: manually check the progress of this job by clicking this button.
            p 
                strong Your data will only be available for 3 hours after completion.


        section.results
            h2 Your results:
            .status.cf
                .circle.complete
                p.description Geocoding complete
            h3.token 1203798
            .output.cf
                .file
                    include partials/_file_icon.pug
                    form
                        .left
                            input(type='radio', name='outputType', value='json', checked='checked')
                            p json file
                        .right
                            input(type='radio', name='outputType', value='csv')
                            p csv file
                    button.download download results
                .preview
                    h3 Preview:
                    pre.json.active
                    pre.csv
            .error-container
                p Our servers were unable to process your geocoding job at this time. Please try again later.

        //- loader overlay
        include partials/_loader.pug


        
        //- p 
            //-     strong Settings:
            //- form(action="/action_page.php" method="get")
            //-     input(type="checkbox" name="vehicle" value="Bike") 
            //-     p Email me when conversion is complete
            //-     input(type="checkbox" name="vehicle" value="Car" checked="checked") 
            //-     p I have a car
