doctype html
html(lang="en")

    include partials/_head.pug

    body(class=pageClass)

        header.cf
            h1 
                a(href="/") Geo the Geocoder
            form.search(action="/geocode" method="get")
                input#search(type='text', placeholder='token', name='token')
            p Search existing geocoding job:

        block content

    footer
        .h-container.cf
            p 
                | © mysterious testing company
                span &middot;
            a(href="https://github.com/sensible-s/aginicx-code-challenge") See this on github
    
    script(src="/static/js/vendor/jquery-3.3.1.min.js")
    //- script(src="/static/js/vendor/velocity.min.js")
    script(src="/static/js/main.js")