head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="description" content="")
    title Geo the Geocoder
    meta(meta name="viewport" content="width=device-width, initial-scale=1")

    link(rel="stylesheet" href="/static/css/index.css")
    link(rel="stylesheet" href="https://use.typekit.net/tea6wvy.css")
