

// Remove default focus
:focus {
	outline: 0;
}

/* Clearfix */
.cf {
	&:before,
	&:after {
	    content: " ";
	    display: table;
	}
	&:after {
	    clear: both;
	}
}

/* fix top collapsing margin */

html, body {
	overflow: auto;
}

html {
	height: 100%;	
}

body {
    height: 100%;
	padding: 0;
	margin: 0;
    font-family: "open-sans";
    font-weight: 400;
    background: $off-light;
}


// general 

strong {
	color: #333;
}

img {
	width: 100%;
}


// components

.breadcrumbs {
	width: 100%;
    max-width: 500px;
	margin: 100px auto 0;
	p {
		display: inline;
	}
	.timeline {
		margin: 0 60px -11px;
		border-top: 2px dashed #e9e9e9;
	}
	a {
		margin: 0 29px;
		text-decoration: none;
		font-weight: 300;
		color: #dad7dc;
		background: #fcfdff;
		padding: 0 5px;
		.no {
			position: relative;
			display: inline-block;
			width: 20px;
			height: 20px;
			margin: 0 14px 0 0;
			padding-top: 3px;
			color: #fff;
			font-size: 12px;
			font-family: "brandon-grotesque";
			text-align: center;
			text-decoration: none;
			box-sizing: border-box;
			border-radius: 100%;
			background: #f0f1f2;
			svg {
				position: absolute;
				fill: #fff;
				display: none;
				&.tick {
					width: 12px;
					top: 4.5px;
					left: 4px;
				}
				&.times {
					width: 10px;
					top: 4px;
					left: 5px;
				}
			}
		}
		&:hover {
			color: $blue;
			cursor: pointer;
		}
		&.current {
			color: #444;
			.no {
				background: #b4b5b6;
			}
		}
		&.active {
			color: #444;
			font-weight: 400;
			.no {
				background: $off-dark;
			}
		}
		&.complete {
			color: #444;
			.no {
				background: $status-green;
				span {
					opacity: 0;
				}
				svg.tick {
					display: initial;
				}
			}
		}
		&.error {
			color: #444;
			.no {
				background: $red;
				span {
					opacity: 0;
				}
				svg.times {
					display: initial;
				}
				svg.tick {
					display: none;
				}
			}
		}
	}
}

