

// header, footer

header,
footer .h-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
} 

header {
	h1 {
		float: left;
	}
    h1 a {
        margin: 25px 0 15px;
        color: $off-dark;
        font-family: "brandon-grotesque";
        font-size: 30px;
        font-weight: 600;
		text-transform: lowercase;
		text-decoration: none;
	}
	p {
		float: right;
		margin: 37px 20px;
		color: #bababa;
		font-weight: 200;
		font-size: 18px;
	}
	#search {
		float: right;
		width: 100%;
		max-width: 130px;
		padding: 7px 9px 4px;
		margin-top: 30px;
		font-size: 20px;
		font-weight: 200;
		color: #9a9a9a;
		border: 1px solid #e6e6e6;
		text-align: center;
	}
}

footer {
	margin-top: 130px;
	padding: 40px 0;
    border-top: 2px solid #EEEEEE;
	a {
		float: left;
		margin-right: 15px;
		color: #cacaca;
		font-size: 14px;
		font-weight: 300;
		text-decoration: none;
		&:hover {
			cursor: pointer;
			color: $blue;
			text-decoration: underline;
		}
	}
	p {
		margin: 0;
		float: left;
		font-size: 14px;
		font-weight: 300;
		color: #cacaca;
		span {
			margin: 0 10px;
		}
	}
}