


$background-color: #ffffff;
$loader-color: #005796;

$loader-size: 45px;
$loader-animation-duration: 1.15s;

.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    &.disabled {
        display: none;
    }
}

.loader,
.loader-figure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader {
    overflow: visible;
    padding-top: $loader-size;
    width: 0;
    height: 0;
}
.loader-figure {
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 0 solid $loader-color;
    border-radius: 50%;
    animation: loaderFigure $loader-animation-duration infinite ease-out;
}
.loader-label {
    float: left;
    margin-left: 50%;
    transform: translateX(-50%);
    margin: 0.5em 0 0 50%;

    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5em;
    color: mix($loader-color, $background-color);
    white-space: nowrap;
    animation: loaderLabel $loader-animation-duration infinite ease-out;
}


// keyframes ----

@keyframes loaderFigure {
    0% {
        width: 0;
        height: 0;
        background-color: $loader-color;
    }
    29% {
        background-color: $loader-color;
    }
    30% {
        width: $loader-size;
        height: $loader-size;
        background-color: transparent;
        border-width: $loader-size / 2;
        opacity: 1;
    }
    100% {
        width: $loader-size;
        height: $loader-size;
        border-width: 0;
        opacity: 0;
        background-color: transparent;
    }
}
@keyframes loaderLabel {
    0% {
        opacity: 0.25;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
    }
}