

.content-container {
    display: block;
    width: 100%;
    position: relative;
}

div.status {
    float: left;
    margin-top: 6px;
    .circle {
        width: 15px;
        height: 15px;
        margin: 5.5px 10px 0 0;
        border-radius: 100%;
        float: left;
        &.running {
            background: $status-yellow;
            box-shadow: 0 0 0 rgba(222,220,48, 0.4);
            animation: pulse 1.4s infinite;
        }
        &.complete {
            background: $status-green;
        }
        &.error {
            background: $red;
        }
    }
    p {
        float: left;
        margin: 0;
    }
}

button, label {
    display: block;
    width: 100%;
    padding: 10px 20px 8px;
    color: #fff;
    font-family: "open-sans";
    font-weight: 200;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    border: 0;
    background: $blue;
    &:hover {
        cursor: pointer;
        background: #005796;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
    }
}

.file {
    width: 100%;
    display: block;
    clear: both;
    padding: 30px 20px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #efefef;
    text-align: center;
    svg {
        display: block;
        width: 62px;
        margin: 0 auto 0px;
        fill: #acadaf;
    }
}


section {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    display: none;
    :first-child {
        margin-top: 0;
    }
    p {
        line-height: 1.7;
        font-weight: 200;
        color: #7f7f7f;
    }
    &.active {
        display: block;
    }
}

section.input {
    p {
        clear: both;
    }
    h2 {
        font-weight: 200;
        color: #262425;
        margin: 0 0 30px 0;
    }
    label.post-selection {
        background: #eaeaea;
        color: #333;
        &:hover {
            box-shadow: none;
        }
    }
    input.hidden, 
    .file-feedback {
        display: none;
        margin: 30px 0 -10px;
        color: $red;
    }
    .file-preview {
        display: none;
        margin-top: 20px;
        button {
            max-width: 200px;
            margin: 0 auto;
        }
    }
    .pasteData {
        margin-top: 30px;
        form {
            textarea {
                width: 100%;
                height: 300px;
                box-sizing: border-box;
                margin-bottom: 20px;
                padding: 8px;
                border: 1px solid rgba(3,103,166,.3)
            }
        }
    }
}

section.status {
    .container {
        margin: 45px 0px;
    }
    a.copy-token {
        float: right;
        padding: 6px 13px 9px;
        color: #A3A3A3;
        font-size: 14px;
        font-weight: 200;
        line-height: 20px;
        background: #ececec;
        border-radius: 3px;
        margin: -2px 0 12px;
        &:hover {
            cursor: pointer;
        }
    }
    h3.token {
        width: 100%;
        margin: 70px 0 20px;
        padding: 13px 0;
        clear: both;
        font-size: 100px;
        font-weight: 200;
        text-align: center;
        box-sizing: border-box;
        background: #f5f5f5;
    }
    a.check-status {
        display: block;
        padding: 16px;
        text-align: center;
        font-weight: 200;
        background: $blue;
        color: #fff;
        &:hover {
            cursor: pointer;
        }
    }
}

section.results {
    h3.token {
        float: right;
        padding: 10px;
        background: #f5f5f5;
        margin-top: -2px;
    }
    .output {
        form {
            margin-bottom: 20px;
            .left, .right {
                display: inline-block;
            }
            .left {
                margin-right: 15px;
            }
            p {
                display: inline-block;
                margin-left: 10px;
            }
        }
    }
    .error-container {
        display: none;
        width: 100%;
        clear: both;
        margin-top: 20px;
    }
    button {
        display: inline-block;
        width: 190px;
        margin: 0;
    }
    .preview {
        h3 {
            font-weight: 300;
            font-size: 16px;
            margin-top: 30px;
        }
        pre {
            display: none;
            padding: 20px;
            font-size: 14px;
            color: #bfbfbf;
            background: #262425;
            border: 1px solid #efefef;
            &.active {
                display: block;
            }
        }
    }
}












