
// color vars -----

$off-light: #FCFDFF;
$off-dark: #262425;
$red: #F20530;
$blue: #0367A6;

$status-yellow: #EEEC15;
$status-green: #2FCC70;


// import files -----

// fonts
    // no fonts css

// import normalise
@import "normalize";

// global
@import 'global/base';
// @import 'global/typography';
@import 'global/header-footer';
@import 'global/loader';

// animations and imagery
@import 'animation';

// content specific
@import 'home';